<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
 <display-name>fuse-eap</display-name>
 <servlet>
  <servlet-name>HttpServiceServlet</servlet-name>
  <servlet-class>org.test.MyServlet</servlet-class>
 </servlet>
 <!--   <resource-ref> 
     <res-ref-name>java:jboss/camel/context/spring-context</res-ref-name> 
     <res-type>org.apache.camel.CamelContext</res-type> 
     <injection-target> 
       <injection-target-class>java:jboss</injection-target-class> 
       <injection-target-name>camel/context/spring-context</injection-target-name> 
     </injection-target> 
   </resource-ref> -->
 <servlet>
  <servlet-name>CamelServlet</servlet-name>
  <servlet-class>org.apache.camel.component.servlet.CamelHttpTransportServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>HttpServiceServlet</servlet-name>
  <url-pattern>/aa/*</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CamelServlet</servlet-name>
  <url-pattern>/services/*</url-pattern>
 </servlet-mapping>
 <welcome-file-list>
  <welcome-file>index.html</welcome-file>
  <welcome-file>index.htm</welcome-file>
  <welcome-file>index.jsp</welcome-file>
  <welcome-file>default.html</welcome-file>
  <welcome-file>default.htm</welcome-file>
  <welcome-file>default.jsp</welcome-file>
 </welcome-file-list>
</web-app>
